<!DOCTYPE html>
<head>
  <title>Power Green Smoothie - so simple + tasty plant-base diet</title>
  <style type="text/css">
  body {
    text-align: center;
    color: darkgrey;
    font-family: sans-serif;
  }

  p {
    border: 1px solid white;
    padding: 10px;
  }

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  </style>
</head>
<html>
<body>

 <h1>Try this awesome smoothie</h1>
 <form method="GET" action="/food">

<% { %>
<!-- <input type="text" name="food" id="foodSearch"></input>
<button type="button" name="foodButton">search</button>
</form> -->
<form>
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= food %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<% } %>
</form>

<script type="text/javascript">
  var i;

function smoothie(){
  for (i = 0; i < videos.length; i++){

  }
}
</script>
</body>
</html>
